body {
  margin: 0;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,94,98,0.6898109585631127) 35%, rgba(0,212,255,1) 100%);
  font-family: 'Helvetica Neue', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}
